# Phase 4 creates deployments for shard 1
#
# helm upgrade \
#  --install \
#  --values ./hack/kind-values-phase3.yaml \
#  --namespace kcp-alpha \
#  --create-namespace \
#  alpha ./charts/kcp
#
fullnameOverride: proxy
externalHostname: "kcp.dev.local"
etcd:
  enabled: false
kcp:
  enabled: false
kcpFrontProxy:
  tag: main
  enabled: true
  additionalPathMappings:
    - path: /services/edge-proxy
      backend: https://clusters-virtualworkspaces.cluster-proxy.svc:8443
      backend_server_ca: /etc/kcp/tls/ca/tls.crt
      proxy_client_cert: /etc/kcp-front-proxy/requestheader-client/tls.crt
      proxy_client_key: /etc/kcp-front-proxy/requestheader-client/tls.key
    - path: /services/cluster-proxy
      backend: https://clusters-virtualworkspaces.cluster-proxy.svc:8443
      backend_server_ca: /etc/kcp/tls/ca/tls.crt
      proxy_client_cert: /etc/kcp-front-proxy/requestheader-client/tls.crt
      proxy_client_key: /etc/kcp-front-proxy/requestheader-client/tls.key
    - path: /services/namespace-proxy
      backend: https://namespaces-virtualworkspaces.cluster-proxy.svc:8443
      backend_server_ca: /etc/kcp/tls/ca/tls.crt
      proxy_client_cert: /etc/kcp-front-proxy/requestheader-client/tls.crt
      proxy_client_key: /etc/kcp-front-proxy/requestheader-client/tls.key
  ingress:
    secret: proxy-front-proxy-cert
    enabled: true
    annotations:
      kubernetes.io/ingress.class: "nginx"
      acme.cert-manager.io/http01-edit-in-place: "true"
      # this is ingress-controller-specific and might need configuration
      # depending on the ingress-controller in use.
      nginx.ingress.kubernetes.io/backend-protocol: HTTPS
  tokenAuth:
    enabled: true
    fileName: auth-token.csv
    config: |
        external-logical-cluster-admin-token,external-logical-cluster-admin,1111-1111-1111-1111,"system:kcp:external-logical-cluster-admin"
        system-kcp-admin-token,system-kcp-admin,5555-5555-5555-5555,"system:kcp:admin"
        system-master-token,system-masters,6666-6666-6666-6666,"system:masters"
cache:
  enabled: false
certificates:
  name: certs
sharding:
  enabled: false
  isRoot: true # set this to true for the first (root) shard, false for all other shards.
  rootShardInternalHostname: "alpha.kcp-alpha.svc.cluster.local"
caBundle:
  enabled: false
  configMapName: kcp.dev.local
  configMapKey: root-certs.pem
oidc:
  enabled: true
  issuerUrl: https://idp.dev.local:6443
  clientId: kcp-dev
  groupClaim: groups
  usernameClaim: email
  usernamePrefix: kcp-dev-idp-
  groupsPrefix: kcp-dev-idp-
  caSecretName: dex-pki-ca
