# Phase 3 creates deployments for shard 1 (root)
#
# helm upgrade \
#  --install \
#  --values ./hack/kind-values-phase3.yaml \
#  --namespace kcp-alpha \
#  --create-namespace \
#  alpha ./charts/kcp
#
fullnameOverride: beta
externalHostname: "kcp.dev.local"
etcd:
  enabled: true
kcp:
  tag: main
  enabled: true
  v: 2
  tokenAuth:
    enabled: true
    fileName: auth-token.csv
    config: |
        external-logical-cluster-admin-token,external-logical-cluster-admin,1111-1111-1111-1111,"system:kcp:external-logical-cluster-admin"
        system-kcp-admin-token,system-kcp-admin,5555-5555-5555-5555,"system:kcp:admin"
        system-master-token,system-masters,6666-6666-6666-6666,"system:masters"
  batteries:
    - workspace-types
    - metrics-viewer
  extraFlags:
  - --feature-gates=WorkspaceMounts=true
  homeWorkspaces:
    enabled: true
externalCache:
  enabled: true
  cacheInternalHostname: "cache-cache.kcp-cache.svc"
sharding:
  enabled: true
  isRoot: false # set this to true for the first (root) shard, false for all other shards.
  rootShardInternalHostname: "alpha.kcp-alpha.svc.cluster.local"
caBundle:
  enabled: false
  configMapName: kcp.dev.local
  configMapKey: root-certs.pem
oidc:
  enabled: true
  issuerUrl: https://idp.dev.local:6443
  clientId: kcp-dev
  groupClaim: groups
  usernameClaim: email
  usernamePrefix: kcp-dev-idp-
  groupsPrefix: kcp-dev-idp-
  caSecretName: dex-pki-ca
