{{- if and (has "configcluster" .Values.targets) .Values.configCluster.crds.create }}
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.18.0
  name: inittargets.initialization.kcp.io
spec:
  group: initialization.kcp.io
  names:
    kind: InitTarget
    listKind: InitTargetList
    plural: inittargets
    singular: inittarget
  scope: Cluster
  versions:
    - additionalPrinterColumns:
        - jsonPath: .spec.workspaceTypeRef.path
          name: WSType Cluster
          type: string
        - jsonPath: .spec.workspaceTypeRef.name
          name: WSType
          type: string
        - jsonPath: .metadata.creationTimestamp
          name: Age
          type: date
      name: v1alpha1
      schema:
        openAPIV3Schema:
          properties:
            apiVersion:
              description: |-
                APIVersion defines the versioned schema of this representation of an object.
                Servers should convert recognized schemas to the latest internal value, and
                may reject unrecognized values.
                More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
              type: string
            kind:
              description: |-
                Kind is a string value representing the REST resource this object represents.
                Servers may infer this from the endpoint the client submits requests to.
                Cannot be updated.
                In CamelCase.
                More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
              type: string
            metadata:
              type: object
            spec:
              properties:
                sources:
                  items:
                    properties:
                      template:
                        properties:
                          name:
                            type: string
                        required:
                          - name
                        type: object
                    type: object
                  type: array
                workspaceTypeRef:
                  properties:
                    name:
                      type: string
                    path:
                      type: string
                  required:
                    - name
                    - path
                  type: object
              required:
                - sources
                - workspaceTypeRef
              type: object
          required:
            - spec
          type: object
      served: true
      storage: true
      subresources: {}

---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.18.0
  name: inittemplates.initialization.kcp.io
spec:
  group: initialization.kcp.io
  names:
    kind: InitTemplate
    listKind: InitTemplateList
    plural: inittemplates
    singular: inittemplate
  scope: Cluster
  versions:
    - name: v1alpha1
      schema:
        openAPIV3Schema:
          properties:
            apiVersion:
              description: |-
                APIVersion defines the versioned schema of this representation of an object.
                Servers should convert recognized schemas to the latest internal value, and
                may reject unrecognized values.
                More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
              type: string
            kind:
              description: |-
                Kind is a string value representing the REST resource this object represents.
                Servers may infer this from the endpoint the client submits requests to.
                Cannot be updated.
                In CamelCase.
                More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
              type: string
            metadata:
              type: object
            spec:
              properties:
                template:
                  type: string
              required:
                - template
              type: object
          required:
            - spec
          type: object
      served: true
      storage: true
{{- end }}
