{{- if eq .Values.target "configcluster" }}
{{- if .Values.leaderElection.enabled }}
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: '{{ template "name" . }}:leaderelection'
  namespace: '{{ .Values.leaderElection.namespace }}'
rules:
  - apiGroups:
      - coordination.k8s.io
    resources:
      - leases
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: '{{ template "name" . }}:leaderelection'
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: '{{ template "name" . }}:leaderelection'
subjects:
{{ list .Values.configCluster.rbacSubject | toYaml | indent 2 }}
{{- end }}

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: '{{ template "name" . }}:{{ .Release.Namespace }}'
rules:
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
      - patch
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - get
      - list
      - watch
      - create
      - update
  - apiGroups:
      - ""
    resources:
      - namespaces
    verbs:
      - get
      - list
      - watch
      - create
  - apiGroups:
      - apiextensions.k8s.io
    resources:
      - customresourcedefinitions
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - syncagent.kcp.io
    resources:
      - publishedresources
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - syncagent.kcp.io
    resources:
      - publishedresources/status
    verbs:
      - create
      - get
      - update
      - patch

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: '{{ template "name" . }}:{{ .Release.Namespace }}'
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: '{{ template "name" . }}:{{ .Release.Namespace }}'
subjects:
{{ list .Values.configCluster.rbacSubject | toYaml | indent 2 }}
{{- end }}
