apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: '{{ template "name" . }}:leaderelection'
rules:
  - apiGroups:
      - coordination.k8s.io
    resources:
      - leases
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
      - patch

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: '{{ template "name" . }}:leaderelection'
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: '{{ template "name" . }}:leaderelection'
subjects:
  - kind: ServiceAccount
    name: '{{ template "name" . }}'

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: '{{ template "name" . }}:{{ .Release.Namespace }}'
rules:
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - get
      - list
      - watch
      - create
      - update

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: '{{ template "name" . }}:{{ .Release.Namespace }}'
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: '{{ template "name" . }}:{{ .Release.Namespace }}'
subjects:
  - kind: ServiceAccount
    name: '{{ template "name" . }}'
    namespace: '{{ .Release.Namespace }}'
